@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F7F7F7;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles  */

.display-flex{
    display: flex;
}

.fixed-width{
    max-width: 1235px;
    margin: 0 auto;
}

.btn-primary{
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
}
.orange{
    color: #FEA301;
}
.blue{
    color: #01ACFD;
}
.green{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
/* header styles */
.header{
    margin-top: 20px;
}
.logo{
    gap: 10px;
    align-items: center;
}

.logo-title{
    font-weight: bold;
    font-size: 2rem;
}
.nav-contain{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style-type: none;
    gap: 30px;
}
.nav-items li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
.btn1{
    background-color: #FEA301;
    font-weight: 600;
}

/* banner styles  */
.banner{
    margin: 40px 0 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 3.6rem;
    font-weight: 700;
}
.banner-desc{
    font-size: 1.25rem;
    width: 85%; 
    margin: 20px 0; 
}
.humbergur{
    width: 40px;
    display: none;
}
/* header section responsive  */
@media screen and (max-width:800px) {
    .quicksand-font{
        background-color: white;
    }
    .logo-title{
        display: none;
    }
    .nav-contain{
        border: 1px solid #FEA301;
        padding: 20px;
    }
    .nav-items,.btn1{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .title-desc{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-desc{
        width: 90%;
        place-self: center;
    }
    .banner img{
        width: 100%;
        padding: 0 15px;
    }
    .humbergur{
        display: block;
    }
}


/* standard curriculam section  */
.curriculum-container{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: center;
    padding: 50px 0;
    height: 879px;
}
.curiculam-title{
    text-align: center;
    padding-bottom: 70px;
    font-weight: 700;
    font-size: 3rem;
}

.curriculum-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.curriculum-card1{
    background-color: white;

    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    padding: 35px 40px;
}
.curriculum-card2{
    background-color: white;

    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
    text-align: center;
    padding: 40px;
}
.curriculum-card3{

    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    text-align: center;
    padding: 40px;
}

.curriculum-card1 p,.curriculum-card2 p,.curriculum-card3 p{
    line-height: 25px;
    color: #808080;
    padding: 10px 0 30px;
}
.card-title{
    padding:35px 0;
    font-size: 1.625rem;
    font-weight: 700;
}
.read-more-container{
    padding-bottom: 20px;
}
.read-more{
    text-decoration: none;
    font-weight: 700;
}


/* card-section responsive  */

@media screen and (max-width:800px) {
    .curriculum-cards{
        flex-direction: column;
        padding: 0 10px;
    }
    .curiculam-title{
        font-size: 2rem;
        padding-bottom: 30px;
    }
    .curriculum-container{
        background-size: cover;
    }
}

/* card-section responsive  */